<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ApplicationVersion" value="0.1"/>
		<add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=True" />
		<add key="DBPath" value ="C:\Databases\FlashcardsApplication\" />
		<add key="DBName" value="FlashcardsApplication" />
		<add key="StacksTableName" value="Stacks"/>
		<add key="FlashcardsTableName" value="Flashcards"/>
		<add key="SessionsTableName" value="Sessions"/>
	</appSettings>
</configuration>